<% content_for :title, "Create account" %>

<section class="nes-container with-title text-center">
  <h3 class="title">Sign up</h3>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "nes-input" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :class => "nes-input" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "nes-input" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Sign up", :class => "nes-btn is-success" %>
  </div>
<% end %>
  <br>
  If you have account, <%= link_to "Log in", new_user_session_path %>.

  </section>