
<div class="row justify-content-between">
    <div class="col-md-8">
       
        <section class="nes-container with-title">
            <h3 class="title">Latest post</h3> 
            <% 
            @posts = Post.order(:id => "DESC").take(3) %>
            <%= render "posts/_shared/smallcolumn_list" %>
        </section>

       <% 
        Category.order(:title => "ASC").each do |cat|
            if cat.post.count == 0
                next
            end
        %>
        <section class="nes-container with-title">
            <h3 class="title">Latest post in <%= link_to cat.title, categories_path+"/"+cat.id.to_s, :class => "nes-text is-error" %></h3> 
            <% 
            @posts = cat.post.reverse.take(3) %>
            <%= render "posts/_shared/smallcolumn_list" %>
        </section>
        <%
        end
       %>
       
    </div>



    <div class="col-md-4">
        <section class="nes-container with-title">
            <h3 class="title">Most Readed Posts</h3> 
            <% 
            @posts = Post.order(:read => "DESC").take(3) %>
            <%= render "posts/_shared/smallcolumn_list" %>
        </section>

        <section class="nes-container with-title">
            <h3 class="title">Authors</h3> 
            

            <% User.all.each do |author| %>

                
                <div class="nes-container is-rounded is-dark clearfix text-center">
                
                <%= link_to author.name + " " + author.sirname, authors_path+"/"+author.id.to_s, :style=>"color:white"%>
                
                
                </div>
                        

            <% end %>


        </section>

    </div>
</div>