<% @posts.each do |x| %>
  <section class="topic" style="overflow: auto;">
    <img src="<%=x.image.url(:thumb)%>" style="float:left;margin-right: 20px" width="200px" height="150px">
    <h3 id="<%= x.title %>">
      #<%= link_to x.title, x %>
    </h3>
    <%= link_to x.category.title, x.category, :class => "nes-text is-error", "style" => "font-size:10px" %>
    <span style="font-size:10px">- By: </span>
    <% if x.user.name == nil || x.user.sirname == nil %>
	<%= link_to x.user.email, authors_path + "/" + x.user.id.to_s, :class => "nes-text is-success", :style => "font-size:10px" %>
	<% else %>
	<%= link_to x.user.name + " " + x.user.sirname, authors_path + "/" + x.user.id.to_s, :class => "nes-text is-success" , :style=>"font-size:10px"%>
	<% end %>
    <p><%= x.description %></p>
  </section>
  <hr>
<% end %>
