<% @posts.each do |x| %>
  <section class="topic" style="overflow: auto;">
    <h5 id="<%= x.title %>">
      #<%= link_to x.title, x %>
    </h5>
    <span style="font-size: 10px">By: 
	<% if x.user.name == nil || x.user.sirname == nil %>
	<span><%= link_to x.user.email, authors_path + "/" + x.user.id.to_s, :class => "nes-text is-success", :style => "font-size:10px" %>
	<% else %>
	</span><%= link_to x.user.name + " " + x.user.sirname, authors_path + "/" + x.user.id.to_s, :class => "nes-text is-success" , :style=>"font-size:10px"%>
	<% end %>
    <p><%= x.description %></p>
  </section>
  <hr>
<% end %>
