  <% content_for :title, "Log in" %>
  
  <section class="nes-container with-title text-center">
  <h3 class="title">Log in</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "nes-input" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", :class => "nes-input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
      

      <label>
        <%= f.check_box :remember_me, :class => "nes-checkbox" %>
        <span>Remember me</span>
      </label>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", :class => "nes-btn is-success" %>
    </div>
  <% end %>

<br>
  Don't you have account? You can <%= link_to "Sign up", new_user_registration_path %>.<br/>
  If you forgot your password <%= link_to "click me", new_password_path(resource_name) %>!

  </section>