<% content_for :title, "Posts | " + @post.title %>

<div class="row">
  <div class="col-md-8">
  <section class="nes-container with-title">
    <h3 class="title"><%= link_to @post.category.title, categories_path+ "/" + @post.category.id.to_s %> > <%= @post.title %></h3> 
    <p class="desc"><%= @post.created_at.strftime("Posted on %d.%m.%Y")%> by 
	<% if @post.user.name == nil || @post.user.sirname == nil %>
	<%= link_to @post.user.email, authors_path + "/" + @post.user.id.to_s, :class => "nes-text is-success" %>
	<% else %>
	<%= link_to @post.user.name + " " + @post.user.sirname, authors_path + "/" + @post.user.id.to_s, :class => "nes-text is-success" %>, 
	<% end %>
	<%= @post.read %> times read.
    <% if user_signed_in? && @post.user.id == current_user.id %>
    <br /><br /><%= link_to 'Edit Post', edit_post_path(@post), :class => "nes-text is-warning" %> | 
    <%= link_to 'Delete', 
             post_path(@post), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' }, :class => "nes-text is-error"  %> 
    <% end %>
    </p>
      <div class="clearfix">
        <% if @post.image? %><img src="<%= @post.image.url(:medium) %>" clasS="post_image" width="300px" height="225px"><% end %> 
        <%= @post.content.html_safe %>
        <br />
        <% if @post.keywords.length > 0 %>
          <i>Keywords: </i>
          <% @post.keywords.split(",").each do |keyword| %>
            <%= link_to keyword, :controller => :page, :action => :keyword, :q => keyword.strip %>
          <% end %>
        <% end %>

      </div>
  </section>
  </div>


<div class="col-md-4">

  <section class="nes-container with-title">
    <h3 class="title">Most Read in <%= @post.category.title %></h3> 
    <p class="desc"></p>
    <% 
    arr = Post.where("category_id = ?", @post.category.id).order(:read => "DESC").take(3)
    @posts = arr.last(3).reverse %>
    <%= render "posts/_shared/smallcolumn_list" %>
  </section>

  <section class="nes-container with-title">
    <h3 class="title">Latest Post in <%= @post.category.title %></h3> 
    <p class="desc"></p>
    <% 
    arr = @post.category.post.select{ |p| p.id != @post.id }
    @posts = arr.last(3).reverse %>
    <%= render "posts/_shared/smallcolumn_list" %>
  </section>
    
    <section class="nes-container with-title">
    <h3 class="title">Latest Post by 
	<% if @post.user.name == nil || @post.user.sirname == nil %>
	<%= link_to @post.user.email, authors_path + "/" + @post.user.id.to_s, :class => "nes-text is-success" %>
	<% else %>
	<%= link_to @post.user.name + " " + @post.user.sirname, authors_path + "/" + @post.user.id.to_s, :class => "nes-text is-success" %>
	<% end %>
	</h3> 
    <p class="desc"></p>
    <% 
    arr = @post.user.post.select{ |p| p.id != @post.id }
    @posts = arr.last(3).reverse %>
    <%= render "posts/_shared/smallcolumn_list" %>
  </section>

</div>

  </div>
</div>
