<% content_for :title, "Posts | " + @post.title %>

<div class="row">
  <div class="col-md-8">
  <section class="nes-container with-title">
    <h3 class="title"><%= link_to @post.category.title %> > <%= @post.title %></h3> 
    <p class="desc"><%= @post.created_at.strftime("Posted on %d.%m.%Y")%> by <span class="nes-text is-success"><%= @post.user.email %></span>, <%= @post.read %> times read.
    <% if user_signed_in? && @post.user.id == current_user.id %>
    <br /><br /><%= link_to 'Edit Post', edit_post_path(@post), :class => "nes-text is-warning" %> | 
    <%= link_to 'Delete', 
             post_path(@post), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' }, :class => "nes-text is-error"  %> 
    <% end %>
    </p>
      <div class="clearfix">
        <img src="<%= @post.image.url(:medium) %>" clasS="post_image" width="300px" height="225px">
        <%= @post.content.html_safe %>
        <br />
        <i>Keywords: </i><%= @post.keywords.split(",").join(" ") %>
      </div>
  </section>
  </div>


<div class="col-md-4">

  <section class="nes-container with-title">
    <h3 class="title">Most Read in <%= @post.category.title %></h3> 
    <p class="desc"></p>
    <% 
    arr = Post.where("category_id = ?", @post.category.id).order(:read => "DESC").take(3)
    @posts = arr.last(3).reverse %>
    <%= render "posts/_shared/smallcolumn_list" %>
  </section>

  <section class="nes-container with-title">
    <h3 class="title">Latest Post in <%= @post.category.title %></h3> 
    <p class="desc"></p>
    <% 
    arr = @post.category.post.select{ |p| p.id != @post.id }
    @posts = arr.last(3).reverse %>
    <%= render "posts/_shared/smallcolumn_list" %>
  </section>
    
</div>

  </div>
</div>
