<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">Just Another Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href="<%= posts_path %>">All Posts</a> 
        </li>
        

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories
    </a>
      
      <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
        <% Category.order(:title).each do |cat| 
          next if cat.post.count == 0 
        %>
        <a class="dropdown-item" href="<%= categories_path + "/" + cat.id.to_s %>"><%= cat.title %></a>
        <%end%>
        
        
      </div>
    </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= authors_path %>">Authors</a>
        </li>
        
        

        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
          
          <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
            
            <a class="dropdown-item" href="<%= authors_path %>/<%=current_user.id%>">Profile</a>
            <a class="dropdown-item" href="<%=edit_user_registration_path%>">Settings</a>
            
            
            <div class="dropdown-divider"></div>
            <%= link_to('Logout', destroy_user_session_path, {method: :delete, :class => "dropdown-item"}) %>
            
          </div>
        </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, :class => "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
