<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />


    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
    <style>
      html, body, pre, code, kbd, samp {
          font-family: "Press Start 2P";
      }
    </style>
  </head>

  <body>

    <%= render "layouts/_shared/navbar" %>
    <div class="container">
    
      <%= render "layouts/_shared/devisealert" %>
      
      <%= yield %>
    </div>
  </body>
</html>
